@use 'base/variables' as v;
@use 'base/mixins' as m;

.site-footer {
    background-color: v.$pink;
    p {
        color: white;
        text-align: center;
        padding: 2rem 0;
    }
}