// Tipografía

$main_font: 'Monserrat', sans-serif;

// Colores

$aqua: #4cb8b3;
$pink: #f53756;
$yellow: #fef46d;
$purple: #752f97;

// Media Queries Sizes

$phone: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;